@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button class="dark-btn btn btn-dark btn-lg">
        <a class="navbar-brand" asp-area="" asp-controller="Weather" asp-action="Index">View Weather Forecast</a>
    </button>
</div>
