@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to WebWeatherForecast!</h1>

    <p class="lead mb-4">
        Stay up to date with the latest weather forecast in your city.<br />
        Click the button below to view detailed weather information for today and the upcoming 5 days.
    </p>

    <button class="btn btn-dark btn-lg">
        <a class="text-white text-decoration-none" asp-area="" asp-controller="Weather" asp-action="Index">View Weather Forecast</a>
    </button>
</div>
